<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Lista de Empleados</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <!-- Agrega más encabezados según los campos de tu clase Empleado -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${empleados}">
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.apellido}"></td>
                <!-- Agrega más campos según sea necesario -->
                 <td>
                <form th:action="@{/empleados/{id}(id=${empleado.id})}" method="post">
                    <input type="hidden" name="_method" value="put">
                    <button type="submit">Dar de Baja</button>
                </form>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/empleados/agregar}">Agregar</a> 
</body>
</html>