<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intervencion</title>
</head>
<body>
    
    <form th:action="@{/intervencion/processing-ticket}" th:object="${intervencion}" method="post">
        <input type="hidden" name="ticketId" th:value="${ticket.id}"/>

        <div>
            <label for="descripcion">Descripcion</label>
            <input type="text" th:field="*{descripcion}" id="descripcion">
        </div>        
    

    </form>

</body>
</html>