<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Error</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <h1 th:text="${title}">Error</h1>
    <p th:text="${message}">Mensaje del error</p>
    <a th:href="@{/home}" style="text-decoration:none;color:blue;">Volver al inicio</a>
</body>
</html>
