<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <!-- Menú dinámico (versión segura) -->
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <h1>¡Bienvenido, <span th:text="${#authentication.principal.nombre}">Usuario</span>!</h1>
        <a th:href="@{/ticket/create}">Crear ticket</a>
        <form th:action="@{/auth/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
        <div sec:authorize="hasRole('USER')">
            <a th:href="@{/cuenta/eliminar}">Eliminar cuenta</a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/grupo/crear}">Añadir Persona Jurídica</a>
        </div>
    </div>

    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <h1>Bienvenido, Invitado!</h1>
        <a th:href="@{auth/login}">Login</a> |
        <a th:href="@{auth/register}">Registrarse</a>
    </div>

</body>
</html>