<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Filtrar Tickets</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Filtrar Tickets</h1>

    <!-- Filtrar por Estado -->
    <form th:action="@{/ticket/list-ticket-por-estado}" method="get">
        <label>Estado:</label>
        <select name="estadoTicketId">
            <option value="1">Pendiente</option>
            <option value="2">Atendido</option>
            <option value="3">Cerrado</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <!-- Filtrar por Cliente -->
    <form th:action="@{/ticket/list-ticket-por-cliente}" method="get">
        <label>Email Cliente:</label>
        <input type="email" name="email" required>
        <button type="submit">Filtrar</button>
    </form>

    <!-- Filtrar por Empleado -->
    <form th:action="@{/ticket/list-ticket-por-empleado}" method="get">
        <label>Email Empleado:</label>
        <input type="email" name="email" required>
        <button type="submit">Filtrar</button>
    </form>

    <!-- Filtrar por Asunto -->
    <form th:action="@{/ticket/list-ticket-por-asunto}" method="get">
        <label>Asunto:</label>
        <input type="text" name="asunto" required>
        <button type="submit">Filtrar</button>
    </form>

    <!-- Filtrar por Prioridad -->
    <form th:action="@{/ticket/list-ticket-por-prioridad}" method="get">
        <label>Prioridad:</label>
        <select name="prioridadId">
            <option value="1">Baja</option>
            <option value="2">Media</option>
            <option value="3">Alta</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <!-- Filtrar por Fecha -->
    <form th:action="@{/ticket/list-ticket-por-fecha}" method="get">
        <label>Fecha (yyyy-MM-dd):</label>
        <input type="date" name="fecha" required>
        <button type="submit">Filtrar</button>
    </form>
    <!-- Filtrar por Cliente y ticket Cerrado -->
    <form th:action="@{/ticket/list-ticket-cerrado-por-cliente}" method="get">
        <label>Buscar tickets antiguos(cerrados):</label>
        <input type="email" name="email" required>
        <button type="submit">Filtrar</button>
    </form>
    <a href="/auth/loginSuccess">Volver a Menu</a>
</body>
</html>