<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto de usuario</title>
</head>
<body>
    
    <h1>Ingrese sus datos</h1>
    <form th:action="@{/ticket/create/user}" th:object="${usuario}" method="post">

        <h2>Contacto del usuario</h2>
        <span th:if="${error}" th:text="${error}"></span>

        <label for="nombre">Nombre</label>
        <input type="text" th:field="*{nombre}" id="nombre">

        <label for="apellido">Apellido</label>
        <input type="text" th:field="*{apellido}" id="apellido">

        <label for="email">Email</label>
        <input type="email" th:field="*{email}" id="email">

        <button type="submit">Continuar</button>

    </form>

</body>
</html>