<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear intervencion</title>
</head>
<body>
    
    <h1>Crear intervencion</h1>
    <form th:action="@{/intervencion/create}" th:object="${intervencion}" method="post">
        <input type="hidden" th:field="*{ticketId}" />

        <div>
            <label for="descripcion">Descripcion</label>
            <input type="text" th:field="*{descripcion}">
        </div>

        <select th:field="*{estado}">
            <option value="">Seleccione un estado</option>
            <option th:each="est : ${intervencionEstados}" 
                    th:value="${est.estado}"
                    th:text="${est.estado}">
            </option>
        </select>

        <button type="submit">Guardar</button>

    </form>
</body>
</html>