<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Persona Jurídica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Google Fonts: Inter -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- CSS personalizado -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    
    <h1>Agregar Persona Jurídica</h1>
    <form th:object="${personaJuridicaDTO}" th:action="@{/grupo/crear}" method="post">
        <div>
            <label for="razonSocial">Razón Social:</label>
            <input type="text" th:field="*{razonSocial}" id="razonSocial" />
            <span th:if="${#fields.hasErrors('razonSocial')}" th:errors="*{razonSocial}">Error</span>
        </div>
        <div>
            <label for="cuit">CUIT:</label>
            <input type="text" th:field="*{cuit}" id="cuit" />
            <span th:if="${#fields.hasErrors('cuit')}" th:errors="*{cuit}">Error</span>
        </div>
        <div>
            <input type="submit" value="Añadir" />
        </div>
    </form>
    <a th:href="@{/home}" class="btn btn-secondary">Volver</a>
    
</body>
</html>