<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">${DB}</property>
    <property name="connection.username">${USER}</property>
    <property name="connection.password">${PASSWORD}</property>
    <property name="connection.pool_size">1</property>
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="show_sql">false</property>    <!-- en true muestra hql en consola-->
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <!--Mapeo Entidades   -->
    <mapping resource="mapeos/Usuario.hbm.xml"/>
    <mapping resource="mapeos/Ticket.hbm.xml"/>
    <mapping resource="mapeos/Mensaje.hbm.xml"/>
  </session-factory>
</hibernate-configuration>